
	#ab_rec_f0{padding:70px 0;background:#e7e7e7}
	#ab_rec_f0 p{font-size:24px;color:#4c4c4c;line-height:38px;text-indent:47px}
	#ab_rec_f0 p + p{padding-top:30px}
	#ab_rec_f1, #ab_rec_f2, #ab_rec_f3, #ab_rec_f4{padding:50px 0;color:#fff;font-size:18px;overflow:hidden}
	#ab_rec_f1 .fr, #ab_rec_f2 .fl,#ab_rec_f3 .fr,#ab_rec_f4 .fl{width:740px;line-height:32px}
	#ab_rec_f1 h3, #ab_rec_f2 h3, #ab_rec_f3 h3, #ab_rec_f4 h3{font-size:30px;font-weight:lighter;text-indent:-25px;padding-bottom:25px}
	#ab_rec_f1{background:#00cc83}
	#ab_rec_f2{background:#c7c28d}
	#ab_rec_f3{background:#75c2e5}
	#ab_rec_f4{background:#dea5be}
	#ab_rec_f1 .fr{padding-top:25px}
	#ab_rec_f2 .fl{padding-top:90px}
	#ab_rec_f3 .fr{padding-top:65px}
	#ab_rec_f4 .fl{padding-top:20px}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	