
	#media_list{min-height:400px;background:#f8f8f8}
	#media_list .m_list{overflow:hidden;padding:45px 0 120px;border-bottom:1px solid #d8d8d8}
	#media_list .m_list img, #media_list .m_list div{float:left}
	#media_list .m_list img{padding-left:40px;width:334px;height:192px}
	#media_list .m_list div{padding-left:100px;width:690px}	
	#media_list .m_list h3{font-size:28px;font-weight:normal;color#3b3b3b;padding-bottom:16px}
	#media_list .m_list p{font-size:20px;color:#5e5e5e;line-height:36px}
	#page{padding:20px 0;height:20px;line-height:20px;text-align:center}
	#page li{display:inline;padding:5px 8px;border:1px solid #ddd;background:#fff;border-radius:5px;margin:0 5px}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	