/* CSS Document */
.dividend_right { width:290px; margin-top:20px; }

/*chart_box*/
.chart_box { background-color:#fff; border:solid 1px #b4b4b4; padding:10px; margin-bottom:15px; }
.chart_box h3 { font:16px/20px "Microsoft Yahei"; color:#3a3a3a; }
.chart_box .cnt { text-align:center; padding:10px; }


.ann_dividend { margin-top:20px; width:660px; }
.ann_dividend .crumbs { background-color:#fff; border:solid 1px #b4b4b4; height:50px; font:14px/50px "Microsoft Yahei"; color:#484848; padding:0 60px; }
.ann_dividend .cont { background-color:#fff; border:solid 1px #b4b4b4; margin-top:15px; padding:30px 60px 20px; }
.ann_dividend .cont .tit { text-align:center; }
.ann_dividend .cont .tit h2 { font:18px/36px "Microsoft Yahei"; color:#000; }
.ann_dividend .cont .tit p { font:14px/24px "Microsoft Yahei"; color:#333; }
.ann_dividend .cont .text { font:14px/30px "Microsoft Yahei"; color:#484848; padding:15px 0; }
.ann_dividend .cont .page { height:24px; font:14px/24px "Microsoft Yahei"; }
.ann_dividend .cont .recom { padding:50px 0 0; }
.ann_dividend .cont .recom h2 { font:18px/36px "Microsoft Yahei"; }
.ann_dividend .cont .recom li { height:30px; font:14px/30px "Microsoft Yahei"; background:url(../images/list_type2.png) no-repeat 0px center; padding-left:20px; overflow:hidden; }

/*indmode*/
.indmode { border:solid 1px #cacaca; background-color:#fff; margin-top:15px; }
.indmode .tit { height:44px; background-color:#efeeee; padding-right:15px; }
.indmode .tit h2 { float:left; padding:0 15px; font:14px/44px "sunmin"; border-bottom:solid 2px #4089d5; height:42px; }
.indmode .tit a.more { float:right; font:12px/44px "sunmin"; }

.announce { padding:10px 15px; }
.announce li { padding-left:20px; background:url(../images/list_type2.png) no-repeat 0px 4px; font:12px/23px "sunmin"; overflow:hidden; }

.tz_trends { }
.tz_trends li { padding:5px 10px; border-top:solid 1px #cacaca; color:#666; }
.tz_trends li:nth-child(1) { border:none; }
.tz_trends li h4 { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; height:20px; }
.tz_trends li h4 a { display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.tz_trends li em { float:left; color:#4089d5; }
.tz_trends li span { float:right; }