
	#head_img{background:#3198e8;font-size:0}
	.min-height{min-height:312px}
	#baoz_one, #baoz_tow, #baoz_three, #baoz_four{padding:58px 0}
	#baoz_one .layout, #baoz_three .layout{padding-left:40px;width:1160px} 
	#baoz_tow{background:#feeeef}
	#baoz_three {background:#fff6ed} 
	#baoz_four {background:#eefefb} 
	h3{font-size:36px;font-weight:normal;padding:70px 0 0}
	p{color:#666666;font-size:20px;width:560px;line-height:36px;padding-top:30px}
	#baoz_one .layout{background:url("../images/baoz_temp0.png") no-repeat 880px center}
	#baoz_one h3{color:#35cfd4}
	#baoz_tow .layout{background:url("../images/baoz_temp1.png") no-repeat 40px center;padding-left:633px;width:567px}
	#baoz_tow h3{color:#1fbbf6}
	#baoz_three .layout{background:url("../images/baoz_temp2.png") no-repeat 880px center}
	#baoz_three h3{color:#b4d675}
	#baoz_four .layout{background:url("../images/baoz_temp3.png") no-repeat 40px center;padding-left:633px;width:567px}
	#baoz_four h3{color:#f87026}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	