/*CSS Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0px;padding: 0px;border:0; font-size: 100%;font:inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
a { color: #222; text-decoration: none; outline: none; border:0px;-webkit-tap-highlight-color: rgba(255,255,255,0);}
body {line-height:1; background: #fff;  font-family: "microsoft yahei"; ;}
img { border:0px; width: 100%;}
ol,ul {list-style: none;}
blockquote ,q { quotes: none;}
blockquote:before, blockquote:after,q:before,q:after{content: ''; content:none;}
table {border-collapse: collapse; border-spacing: 0;}
.clear { clear: both;}
.clearfix::after{content:"";display:block;height:0;clear:both;visibility:hidden}
body { min-width: 320px; max-width: 640px; margin: 0 auto; background: #f1f1f1;    font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif";}
 

.header { height:45px; background: #ff5a60; line-height: 45px; position: fixed; text-align: center; color:#fff; font-size: 16px; width:100%; z-index:9999; max-width:640px;}
.header .back { position: absolute; top:0px; left:0px; display:block; z-index: 10;}
.header .back span { display: block; background: url(../img/back_02.png) center center / 50% 50% no-repeat; width: 45px; height: 45px; display: block;}
.header2 {position: fixed;top: 0px;padding-top:10px; background: #f1f1f1; z-index: 9999;}
.bill-title { margin: 0px 45px;}
.space-top {width:100%; height:55px;}
.wapper { width:100%; margin: 0px auto; max-width:640px;}
.section { padding: 10px 0px;}
.head { padding-left: 70px; height:55px; position:relative;background:url(../img/dot.gif) 24px 0px repeat-y;}
.head .time-month{ position:absolute; background: url(../img/bill.png) 0px 0px / 50px auto no-repeat; width: 50px; height: 80px; display: block; left:0px; top:0px; text-align: center; color: #fff; line-height: 53px;}
.head .time-date { font-size:15px; height:30px; line-height: 30px; padding: 15px 0px;}
.list-box { }
.bill-list {background:url(../img/dot.gif) 24px 0px repeat-y; list-style: none;}
.bill-list li { padding:0px 0px 30px; position:relative;}
.bill-list li .font-h {color:#808080;}
.bill-list li .time-day {width: 50px; height:40px; padding: 5px 0px; display:block;text-align: center; color:#fff; line-height:20px; position:absolute; left:0px;top:50%; margin-top: -25px; font-size: 14px;}
.bill-list li.bill-tz .time-day {background: url(../img/bill-tz.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-fk .time-day {background: url(../img/bill-fk.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-sy .time-day {background: url(../img/bill-sy.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-tx .time-day {background: url(../img/bill-tx.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-cz .time-day {background: url(../img/bill-cz.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-out .time-day {background: url(../img/bill-out.png) center center / 50px 50px no-repeat;}
.bill-list li.bill-qt .time-day {background: url(../img/bill-qt.png) center center / 50px 50px no-repeat;}

.bill-list li .bill-detail{ padding-left: 70px;}
.bill-detail .time-trading { font-size: 14px; line-height: 30px; padding-left:5px;}
.bill-detail .trading {background: #fff; border-radius:5px; padding: 5px 5px 5px 70px; position: relative;}
.bill-detail .trading .bill-in {  width: 50px; height: 50px; display: block; position: absolute; left:0px; top:50%; margin-top:-25px;}

li.bill-cz .bill-in {background: url(../img/chongzhi.png) center center / 50px 50px no-repeat;}
li.bill-fk .bill-in {background: url(../img/fankuan.png) center center / 50px 50px no-repeat;}
li.bill-sy .bill-in {background: url(../img/shouyi.png) center center / 50px 50px no-repeat;}
li.bill-tx .bill-in {background: url(../img/tixian.png) center center / 50px 50px no-repeat;}
li.bill-tz .bill-in {background: url(../img/touzi.png) center center / 50px 50px no-repeat;}
li.bill-qt .bill-in {background: url(../img/qita.png) center center / 50px 50px no-repeat;}

.bill-detail .trading .trading-box { font-size: 14px;}
.bill-detail .trading .trading-box .line { line-height: 30px;}
li.bill-cz .trading-box .line .color { color: #ff952e;}
li.bill-fk .trading-box .line .color { color: #ffb400;}
li.bill-sy .trading-box .line .color { color: #ff6557;}
li.bill-tx .trading-box .line .color { color: #45aaf2;}
li.bill-tz .trading-box .line .color { color: #9acf4f;}
li.bill-qt .trading-box .line .color { color: #25a774;}

.onload {height:40px; margin: 10px 0px; line-height:40px; }
.onload .onload-word { text-align: center; font-size: 14px; display: block;}
.onload .onload-img { height:30px; text-align: center;display: none;}
.onload .onload-img img{ max-height:30px; width: auto;}


 
